<h3>These pets are looking for a home!</h3><br>
<a [routerLink]="['/pets/new']">Add a Pet to the Shelter</a>

<div class="container">
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pet of all_pets">
                <td>{{pet.name}}</td>
                <td>{{pet.type}}</td>
                <td><button [routerLink]="['/pets', pet._id]">Details</button><button
                        routerLink="/pets/{{pet._id}}/edit">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>